{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'main/css/styles.css' %}">

<div style="position: absolute; top: 20; left: 20;">
    <a href="{% url 'start_page' %}"> <img src="{% static 'main/image/full-logo-green1.jpg' %}" alt="logo" width="230" height="77"></a>
</div>


</div>
<div class="text-container">
 <p style="color: #2BA318; font-family: 'Roboto';
 font-style: normal;
 font-weight: 800;
 font-size: 50px;
 line-height: 130%;
 /* identical to box height, or 65px */
 
 text-align: center; " >
    Wybierz słowo
     </p>
</div>
<div style="display: flex; align-items: center; justify-content: center; height: 100vh;">
    <ul class="container">
         <a href="{% url 'word' %}"><li>01 Cześć</li></a>
         <a href=""><li>02 Dziękuję</li></a>
        <a href=""> <li>03 Depresja</li></a>
         <a href=""><li>04 Ból</li></a>
         <a href=""><li>05 Zdrowie</li></a>
    </ul>
       </div>
