{% extends 'main/navbar.html' %}

{% load static %}

       {% block content %}
       <link type="text/css" rel="stylesheet" href="{% static 'main/css/styles.css' %}">



</div>
<div class="text-container">
 <p style="color: #2BA318; font-family: 'Roboto';
 font-style: normal;
 font-weight: 800;
 font-size: 50px;
 line-height: 130%;
 /* identical to box height, or 65px */
 
 text-align: center; " >
    Wybierz słowo
     </p>
</div>
<div style="display: flex; align-items: center; justify-content: center; height: 100vh;">
    <ul class="container">
        {% for letter in word %}
         <a href="{{ letter.get_absolute_url }}"><li>0{{ letter.id }} {{ letter }}</li></a>
         {% endfor %}
    </ul>
       </div>

       {% endblock %}
